body {
  background: #f9e933;
}
header, main, footer {
  min-width: 855px;
}
header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}
h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
}
p, li, a {
  font-family: 'Droid Sans', sans-serif;
  font-size: 100%;
}
header {
  background: white;
  overflow: auto;
  display: block
}
header h1 {
  float: left;
  width: 570px;
}
header nav {
  float: right;
  width: 285px;
}
main {
  background: white;
}
img {
  margin-left: 758px;
  margin-top: -80px;
}
.contact {
  float: left;
  width: -1px;
}
.sistemap {
  float: right;
  width: 204px;
}
li, p, h1 {
  line-height: 20px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
}
