body {
  background: #f9e933;
}
header, main, footer {
  min-width: 855px;
}
header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}
header {
  background: white;
  overflow: auto;
  display: block
}
header h1 {
  float: left;
  width: 570px;
}
header nav {
  float: right;
  width: 285px;
}
main {
  background: white;
}
img {
  margin-left: 758px;
}
.contact {
  float: left;
  width: -1px;
}
.sistemap {
  float: right;
  width: 204px;
}
