body {
  background: #f9e933;
}
header, main, footer {
  min-width: 855px;
}
header .container, footer .container {
  max-width: 855px;
  margin: auto;
}
header, footer {
    min-width: 855px;
}
header {
  padding: 25px 0 25px 0;
  background: white;
  overflow: auto;
  border-bottom: 1px solid #ddd;
}
main {
  background: #fff;
  height: 628px;
  border-radius: 0 5px 5px 5px;
  padding: 40px;
}
h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
}
.title {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-size: 3em;
  color: #b33;
  float: left;
  width: 570px;
}
p, li, a {
  font-family: 'Droid Sans', sans-serif;
  font-size: 100%;
}
header {
  background: white;
  display: block;
  overflow: auto;
}
header nav {
  float: right;
  width: 285px;
}
a {
  color: #f00;
  text-decoration: none;
  font-weight: bold;
}
img {
  margin-left: 1082px;
  margin-top: -80px;
}
.tabs {
  border: 6px solid LightGrey;
}
.tabs a span {
  display: inline-block;
  border-radius: 5px 5px 0 0;
  width: 100px;
  margin-right: 10px;
  text-align: center;
  background: #ddd;
  padding: 5px;
}
.tabs a span.active {
  background: #eee;
}
.container {
  background: #D3D3D3;
  max-width: 704px;
  max-height: 450px;
  margin-left: 514px;
  margin-top: 160px;
}
.content{
  font-family: 'Open Sans', sans-serif;
  height: 200px;
  width: 700px;
  margin-top: 2px;
  overflow-x: hidden;
  overflow-y: auto;
}
.content input {
  margin-left: 10px;
}
.content li:nth-child(even) {
    background: lavender;
    border-radius: 6px;
    line-height: 1.6;
    margin: 5px 5px;
    text-indent: 10px;
}
.content li:nth-child(odd) {
    background: silver;
    border-radius: 6px;
    line-height: 1.6;
    margin: 5px 5px;
    text-indent: 10px;
}
.contact {
  float: left;
  width: -1px;
}
.sistemap {
  float: right;
  width: 204px;
}
li, p, h1 {
  line-height: 20px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
}
/*.right footer {
  float: right;
}
.left footer {
  float: left;
}*/
footer {
    border-top: 1px solid #ddd;
    padding: 40px 0 20px 0;
}
h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25em;
    margin-bottom: 20px;
}
footer .contact p:nth-child(2) {
    color: #b33;
    font-style: italic;
}
footer .sitemap {
    float: right;
    width: 285px;
}
footer ul {
    width: 230px;
}
ol, ul {
    list-style: none;
}
footer .sistemap .left {
    float: left;
}
footer .sistemap .right {
    float: right;
}
